import React, { Component } from 'react'; 
import Overview from "./components/Overview"; 
import uniqid from "uniqid";


class App extends Component{ 
  constructor(){
    super(); 
// Define state 
    this.state = { 
      task: {text: '', id: uniqid(), number:1},
      tasks: [], 
    };
  }

// JS code
    handleChange = (e) => { 
      this.setState({
        task: { 
          text: e.target.value, id: this.state.task.id, number: this.state.task.number
        }
      }); 
    };

    onSubmitTask = (e) => { 
      e.preventDefault(); 
      this.setState({ 
        tasks: this.state.tasks.concat(this.state.task),
        task: {text: '', id: uniqid(), number: this.state.task.number+1 }, 
      }); 
    }; 

    deleteTask = (e) => { 
      e.preventDefault(); 
      this.setState({ 
        tasks: this.state.tasks.filter(this.state.task),
      }); 
    }; 
    // 
  
  render() {
    const {task, tasks} = this.state; 

    return (
      <div>
        <form onSubmit={this.onSubmitTask}>
          <label htmlFor="taskInput">Enter task label </label> 
          <input onChange={this.handleChange} value={task.text} type ="text" id ="taskInput"/> /
          <button type="submit"> Add Task Button </button>
        </form>
          <Overview tasks={tasks}  />         
        
       </div>
    ); 
  }
}

export default App;
