:root{
  background-color: steelblue; 
  /* margin: 0 ;
  padding: 0; */

}
h3{
  padding:0;
  margin:auto;
}
.general-info{
  vertical-align: baseline; 
  margin-left: 250px; 
  font-size: 18px;
  
}

.jobsInfo{
  display: grid; 
  padding: 5px; 
  margin: auto;
  grid-template-columns: 200px 1fr;
  
}

label{
  margin-top: 25px;
  
}


li{
  list-style: none; 
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
